:root {
  --simwa-telegram-color: #0088cc;
  --simwa-whatsapp-color: #25d366;
  --simwa-skype-color: #00aff0;
  --simwa-gmail-color: #d14836;
}

#simwa-container div,
#simwa-container ul,
#simwa-container li,
#simwa-container a {
  box-sizing: border-box;
}
#simwa-container svg {
  width: 30px;
}

/* botom right */
#simwa-container[data-simwa-position="bottom-right"] {
  right: 1rem;
  bottom: 3rem;
}

/* botom left */
#simwa-container[data-simwa-position="bottom-left"] {
  left: 1rem;
  bottom: 3rem;
}

/* Floating Left */
#simwa-container[data-simwa-position="floating-left"] {
  left: 1rem;
  bottom: 50%;
  transform: translateY(50%);
}

/* Floating Right */
#simwa-container[data-simwa-position="floating-right"] {
  right: 1rem;
  bottom: 50%;
  transform: translateY(50%);
}

#simwa-container {
  position: fixed;
  width: 100px;
  padding: 1.5rem 1rem;
  box-sizing: border-box;
  border-radius: 10px;
}

/**
=========================
* Responsive
*=========================
*/
/**
=========================
* 768px
* @todo 768px
*=========================
*/
@media screen and (max-width: 768px) {
  #simwa-greeting-wr[data-simwa-show="768"],
  #simwa-trigger[data-simwa-show="768"],
  #simwa-container[data-simwa-show="768"] {
    display: none !important;
  }
}

/**
=========================
* 495px
* @todo 495px
*=========================
*/
@media screen and (max-width: 495px) {
  #simwa-greeting-wr[data-simwa-show="495"],
  #simwa-trigger[data-simwa-show="495"],
  #simwa-container[data-simwa-show="495"] {
    display: none !important;
  }
}
